.block-clickable {
    display: block;
}

.task-list li {
    overflow: hidden;
}
.task-list li a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.task-list .task-list-button {
    display: inline-block;
}

.popover {
    min-width: 30em;
    word-wrap: normal;
    word-break: keep-all;
}
