<div class="card-columns">
  <div class="card" *ngFor="let stk of stickyList">
    <div class="card-header">
      {{stk.title}}
      <button type="button" class="close" aria-label="Close" (click)="removeStickyNote()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-block">
      <p class="card-text">{{stk.body}}</p>
    </div>
  </div>
  <div class="card" *ngIf="showNewSticky">
    <div class="card-header">
      <input type="text" [(ngModel)]="stickyTitle" class="form-control">
    </div>
    <div class="card-block">
      <textarea class="form-control" [(ngModel)]="stickyBody"></textarea>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="confirmAddStickyNote()">Crear</button>
      <button class="btn btn-primary" (click)="cancelStickyNoteCreation()">Cancelar</button>
    </div>
  </div>
</div>
<div class="btn btn-group">
  <button class="btn btn-primary" (click)="addStickyNote()">Nueva Nota</button>
</div>
