<div class="chat chat-textarea">
	<ul 
	*ngFor="let m of messageArray; let index = index"
	[ngClass]="{'right': m.user === activeUserName}" 
	[ngStyle]="{'background-color': m.color}" 
	class="chat-box"
	>
	   <li class="font-weight-bold" *ngIf="index === 0 || messageArray[index].user !== messageArray[index - 1].user" class="font-weight-bold">{{m.user}}</li>
	   <li>&nbsp;&nbsp;&nbsp;&nbsp;{{m.text}}</li>
	</ul>
</div>
<footer class="footer">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Escriba su mensaje aqui" [(ngModel)]="messageText" (keydown)="validateKeyDown($event)">
	  <span class="input-group-btn">
	    <button class="btn btn-secondary" type="button" (click)="sendMessage()">Enviar</button>
	  </span>
	</div>		
</footer>

